@model Portal.Classes.CurrentUser

@Html.ActionLink(" Главная", "Index", "Home")

@if (Model.IsAdmin)
{
    <div class="mynav_dropdownMenu">
        <button class="mynav_dropbtnMenu">
            POS
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="mynav_dropdownMenu-content">
            @Html.ActionLink(" Логотипы", "Logos", "Home")
            @Html.ActionLink(" Кассиры", "Cashiers", "Home")
            @Html.ActionLink(" Клавиатура", "Keyboards", "Home")
            @Html.ActionLink(" POS статусы", "POSs", "Home")
        </div>
    </div>

    <div class="mynav_dropdownMenu">
        <button class="mynav_dropbtnMenu">
            Весы
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="mynav_dropdownMenu-content">
            @Html.ActionLink(" Статусы весов", "Scales", "Home")
        </div>
    </div>

    <div class="mynav_dropdownMenu">
        <button class="mynav_dropbtnMenu">
            Отчеты
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="mynav_dropdownMenu-content">
            @Html.ActionLink(" Отчет", "Reports", "Home")
        </div>
    </div>

    <div class="mynav_dropdownMenu">
        <button class="mynav_dropbtnMenu">
            Пользователи
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="mynav_dropdownMenu-content">
            @Html.ActionLink(" Роли", "Roles", "Home")
            @Html.ActionLink(" Пользователи", "Users", "User")
        </div>
    </div>
}
else if (Model.IsUser)
{
    if (Model.Roles.CreateLogo || Model.Roles.EditLogo || Model.Roles.CreateCashiers || Model.Roles.EditCashiers || Model.Roles.CreateKeyboard || Model.Roles.EditKeyboard || Model.Roles.POSs)
    {
        <div class="mynav_dropdownMenu">
            <button class="mynav_dropbtnMenu">
                POS
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="mynav_dropdownMenu-content">
                @if (Model.Roles.CreateLogo || Model.Roles.EditLogo)
                    @Html.ActionLink(" Логотипы", "Logos", "Home")


                @if (Model.Roles.CreateCashiers || Model.Roles.EditCashiers)
                    @Html.ActionLink(" Кассиры", "Cashiers", "Home")


                @if (Model.Roles.CreateKeyboard || Model.Roles.EditKeyboard)
                    @Html.ActionLink(" Клавиатура", "Keyboards", "Home")


                @if (Model.Roles.POSs)
                    @Html.ActionLink(" POS статусы", "POSs", "Home")

                </div>
            </div>

        if (Model.Roles.Scales)
        {
            <div class="mynav_dropdownMenu">
                <button class="mynav_dropbtnMenu">
                    Весы
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="mynav_dropdownMenu-content">
                    @Html.ActionLink(" Статусы весов", "Scales", "Home")
                </div>
            </div>
        }

        if(Model.Roles.AdminForScale)
        {
            <div class="mynav_dropdownMenu">
                <button class="mynav_dropbtnMenu">
                    Пользователи
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="mynav_dropdownMenu-content">
                    @Html.ActionLink(" Пользователи", "Users", "User")
                </div>
            </div>
        }
    }
}