@model Portal.Models.User

@Html.ActionLink(" Главная", "Index", "Home")

@if (Model.IsAdmin)
{
    <div class="mynav_dropdownMenu">
        <button class="mynav_dropbtnMenu">
            POS
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="mynav_dropdownMenu-content">
            @Html.ActionLink(" Логотипы", "Logos", "Home")
            @Html.ActionLink(" Кассиры", "Cashiers", "Home")
            @Html.ActionLink(" Клавиатура", "Keyboards", "Home")
            @Html.ActionLink(" POS статусы", "POSs", "Home")
        </div>
    </div>

    <div class="mynav_dropdownMenu">
        <button class="mynav_dropbtnMenu">
            Весы
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="mynav_dropdownMenu-content">
            @Html.ActionLink(" Статусы весов", "Scales", "Home")
        </div>
    </div>

    <div class="mynav_dropdownMenu">
        <button class="mynav_dropbtnMenu">
            Отчеты
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="mynav_dropdownMenu-content">
            @Html.ActionLink(" Отчет", "Reports", "Home")
        </div>
    </div>

    <div class="mynav_dropdownMenu">
        <button class="mynav_dropbtnMenu">
            Пользователи
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="mynav_dropdownMenu-content">
            @Html.ActionLink(" Роли", "Roles", "Home")
            @Html.ActionLink(" Пользователи", "Users", "User")
        </div>
    </div>
}
else if (!Model.IsAdmin)
{
    if (Model.Role.CreateLogo || Model.Role.EditLogo || Model.Role.CreateCashiers || Model.Role.EditCashiers || Model.Role.CreateKeyboard || Model.Role.EditKeyboard || Model.Role.Scales || Model.Role.POSs || Model.Role.Reports)
    {
        @if (Model.Role.CreateLogo || Model.Role.EditLogo || Model.Role.CreateCashiers || Model.Role.EditCashiers || Model.Role.CreateKeyboard || Model.Role.EditKeyboard || Model.Role.POSs)
        {
            <div class="mynav_dropdownMenu">

                <button class="mynav_dropbtnMenu">
                    POS
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="mynav_dropdownMenu-content">
                    
                    @if (Model.Role.CreateLogo || Model.Role.EditLogo)
                        @Html.ActionLink(" Логотипы", "Logos", "Home")

                    @if (Model.Role.CreateCashiers || Model.Role.EditCashiers)
                        @Html.ActionLink(" Кассиры", "Cashiers", "Home")

                    @if (Model.Role.CreateKeyboard || Model.Role.EditKeyboard)
                        @Html.ActionLink(" Клавиатура", "Keyboards", "Home")

                    @if (Model.Role.POSs)
                        @Html.ActionLink(" POS статусы", "POSs", "Home")

                    </div>
                </div>
        }

        if (Model.Role.Scales)
        {
            <div class="mynav_dropdownMenu">
                <button class="mynav_dropbtnMenu">
                    Весы
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="mynav_dropdownMenu-content">
                    @Html.ActionLink(" Статусы весов", "Scales", "Home")
                </div>
            </div>
        }

        if (Model.Role.Reports)
        {
            <div class="mynav_dropdownMenu">
                <button class="mynav_dropbtnMenu">
                    Отчеты
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="mynav_dropdownMenu-content">
                    @Html.ActionLink(" Отчет", "Reports", "Home")
                </div>
            </div>
        }

        if (Model.Role.AdminForScale)
        {
            <div class="mynav_dropdownMenu">
                <button class="mynav_dropbtnMenu">
                    Пользователи
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="mynav_dropdownMenu-content">
                    @Html.ActionLink(" Пользователи", "Users", "User")
                </div>
            </div>
        }
    }
}