@model Portal.Models.User

@{
    ViewBag.Title = "Добавление пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <form asp-action="CreateUser" asp-controller="Home">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.MarketID, "Маркет", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MarketID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MarketID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoleID, "Роли", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoleID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
            </div>
        </div>

@*        <div class="form-actions no-color">
            <p>
                <div class="btnPosition">
                    @Html.ActionLink("Сохранить", "Users", null, new { @id = "submit", @class = "btn btn-default" })
                </div>

                <div class="btnPositionCancel">
                    @Html.ActionLink("Отмена", "Users", "HomeController", new { @class = "btn btn-default" })
                </div>
            </p>
        </div>*@

        <div class="form-actions no-color">
            <p>
                <div class="btnPosition">
                    <input type="submit" value="Сохранить" class="my_btn my_btn_success" />
                </div>

                <div class="btnPositionCancel">
                    @Html.ActionLink("Отмена","Users","Home",null, new { @class="my_btn my_btn_danger"})
                </div>
            </p>
        </div>

    </form>
}
