@model List<Portal.Models.User>
@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:25px">

    <a asp-action="CreateUser" class="my_btn my_btn_success">Добавить пользователя</a>

    <br />

    <div style="height:100%; width:1500px; overflow-x: auto;margin:auto;margin-top:25px">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Логин</th>
                    <th>Роль</th>
                    <th>Маркет</th>

                    <th style="width:200px"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="Search clickable-row" data-href="@Url.Action("EditUser", "Home", new { id = item.ID })">
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Login)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Role.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.MarketID)
                        </td>

                        <td>
                            @Html.ActionLink("Удалить", "DeleteUser", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>